.cover {
  align-items: center;
  background: -webkit-linear-gradient(to right, #3f3162, #48365c);
  background: linear-gradient(to right, #3f3162, #48365c);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.cover__image {
  height: 100vh;
}

.cover__message {
  align-items: center;
  background-color: rgb(72, 73, 67, .6);
  color: white;
  display: flex;
  font-family: "Schoolbell";
  font-size: 1.4em;
  justify-content: center;
  height: 7vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.cover__message__text {
  margin: 0 10px;
}

.cover__text {
  height: 72vh;
  left: 8%;
  position: absolute;
  top: -7vh;
  width: auto;
}

.cover__message__icon{
  font-size: 1.2em;
}
