.cover {
  background-color: #3f3162;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.cover-image {
  height: 100vh;
}

.cover-text {
  position: absolute;
  height: 72vh;
  width: auto;
  left: 8%;
  top: -7vh;
}
