.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
  text-align: center;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__content > h1 {
  font-size: 3em;
}

.modal__close {
  color: #585858;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 10px;
}
