.button {
  align-items: center;
  background-color: white;
  border: none;
  display: flex;
  font-family: "Schoolbell";
  font-size: 2em;
  justify-content: space-between;
}

.reading-area {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100vh;
}

.page-nav {
  display: flex;
  justify-content: space-between;
}
