.reading-area {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100vh;
}

.reading-area__button {
  align-items: center;
  background-color: white;
  border: none;
  display: flex;
  font-family: "Schoolbell";
  font-size: max(2vw, 1em);
  justify-content: space-between;
  margin: 0 1em;
  width: 15%;
}

.reading-area__nav {
  display: flex;
  justify-content: space-between;
  /* height: 20vh; */
}

.reading-area__page {
  width: 200vw;
  display: flex;
  /* position: relative; */
}

.reading-area__next-page {
  left: 100vw;
}
